{% extends 'base.html' %}
{% block addhead %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script charset="utf-8">
  $(document).ready(function() {
    // var socket = io.connect();
    // var valores_iniciales = "";
    // socket.on('moistures',function(datos){
    //   valores_iniciales=datos;
    // });
  });
</script>
{% endblock %}
{% block content %}
<div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
<div id="container" style="width:100%; height:400px;"></div>
</div>
{% endblock %}

{% block addjs %}
<script charset="utf-8">
var socket = io.connect();
var valores = {};
socket.on('moistures',function(datos){
  $('#container').highcharts({
    chart: {
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 10,
      events: {
      load: function () {
          var series = this.series[0];
          var socket = io.connect();
          socket.on('emit-m',function(datos){
            var x = datos.timer, // current time
            y = datos.s1;
            series.addPoint([x, y], true, true);
          });
          // setInterval(function () {
          //   var x = (new Date()).getTime(), // current time
          //   y = Math.random();
          //   series.addPoint([x, y], true, true);
          // }, 1000);
        }
      }
    },
    title: {text: ''},
    xAxis: {type: 'datetime',tickPixelInterval: 150},
    yAxis: {title: {text: '°C'},plotLines: [{value: 0,width: 1,color: '#A3BE8C'}]},
    tooltip: {
      formatter: function () {
        return '<b>' + this.series.name + '</b><br/>' +
        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
        Highcharts.numberFormat(this.y, 2);
      }
    },
    legend: {enabled: false},
    exporting: {enabled: false},
    series: [{
                  name: 'Demo',
                  data: (function () {
                      var data = [],
                          time = (new Date()).getTime(),
                          i, pos ;
                      for (i = -19; i <= 0 ; i += 1) {
                          pos = (datos.length+i)-1;
                          data.push({
                              x: datos[pos].timer,
                              y: datos[pos].sensor1
                          });
                      }
                      return data;
                  }())
              }]
  });
});
console.log(valores);

</script>
{% endblock %}
